body {
	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

#about {
	margin-left: 300px;
	margin-right: 300px;
	margin-top: 75px;
	text-align: justify;
}

#directions {
	margin-left: 300px;
	margin-right: 300px;
	margin-top: 75px;
	text-align: center;
}

.emphasize {
	font-style: italic;
}

.fancy {
	color: red;
}

#nav {
	float: top;
	height: 20px;
	width: 100%;
}

ul,li {
	display: inline;
	padding: 15px;
}

a:link,a:visited,a:hover,a:active {
	color: red;
	text-decoration: none;
}

.example,h3 {
	text-align: center;
}